<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99326341521-ql3onrldhfhiqe7fflb5mba09ra1c2sp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99326341521-ql3onrldhfhiqe7fflb5mba09ra1c2sp</string>
	<key>API_KEY</key>
	<string>AIzaSyCXAlh5UcQ1oc5imJM67v6012AbMdPFOdg</string>
	<key>GCM_SENDER_ID</key>
	<string>99326341521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sahilGuptaApps.sahilgu.Bitz</string>
	<key>PROJECT_ID</key>
	<string>bitz-f1e6e</string>
	<key>STORAGE_BUCKET</key>
	<string>bitz-f1e6e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:99326341521:ios:bae2e4af4671b194fcaa30</string>
</dict>
</plist>
